
body
{
	background-color: White;
	margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

DIV.NixxisToolBar
{
	display: block;
	padding: 0px 0px 0px 0px;
	background-color: white;
}

TABLE.NixxisToolStrip
{
	background-color: Transparent;
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	display: inline;
}

TABLE.NixxisToolStrip TR
{
	height: 38px;
}

TABLE.NixxisToolStrip TD.Left
{
	background-color: Transparent;
	/*background-image: url(toolbar12.png); */
	background-position: right top; 
	background-repeat: no-repeat;
	width: 16px;
}

TABLE.NixxisToolStrip TD.Buttons
{
	background-color: Transparent;
	/*background-image: url(toolbar3.png); */
	background-position: left top; 
	background-repeat: repeat-x;
}

TABLE.NixxisToolStrip TD.Right
{
	background-color: Transparent;
	/*background-image: url(toolbar4.png); */
	background-position: left top; 
	background-repeat: no-repeat;
	width: 6px;
}

.NixxisButton
{
	background-color: Transparent;
	border: solid 1px Transparent;
	margin-top: 3px;	
	margin-bottom: 1px;
}

.NixxisLabel
{
	background-color: Transparent;
	border: solid 1px Transparent;
	margin-top: 3px;
	margin-bottom: 1px;
}

.NixxisButton.Hover
{
	background-color: #80E020;
	border: solid 1px olive;
}

.NixxisButton.Pressed
{
	background-color: #70D010;
	border: solid 1px olive;
}

.NixxisButton.Active
{
	background-color: #70D010;
	border: solid 1px olive;
}
