.window
{
	height: auto;
	width: 350px;
}

.title {
    background: url("images/bgc_logo.gif") no-repeat scroll right top transparent;
    margin: 0;
    padding: 0;
}
.title td {
    height: 80px;
    vertical-align: middle;
}
.title td h2 {
    color: #97D226;
    font-family: Georgia;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
}
.title td h2 a {
    color: #002B45;
}
.welcome {
    background: url("images/pageFooterDot.png") repeat-x scroll 0 0 transparent;
    color: #333333;
    font-family: Arial;
    font-size: 12px;
}
.welcome td {
    padding: 8px 10px 5px;
}
.header {
    color: #97D226;
    font-family: Georgia;
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px 5px;
}
.data {
    margin: 0 10px 12px;
}
.emailaddress {
    color: #000000;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 2px;
}
.emailaddress .input {
    background: url("images/input.png") no-repeat scroll 0 0 transparent;
    height: 22px;
}
.emailaddress .input input {
    border: 0 none;
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    height: 18px;
    margin: 0 2px;
    width: 182px;
    background-color: transparent;
}
.top {
    background: url("images/top.png") no-repeat scroll 0 0 transparent;
    height: 10px;
}
.panel {
    background-color: #BCEE6A;
}
.panel td {
    padding: 5px 15px 15px;
}
.transcript {
    background-color: #BCEE6A;
}
.transcript td {
    padding: 0 15px 10px;
}
.transcriptbox {
    background-color: #FFFFFF;
    border: 1px solid #B3B4B6;
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 320px;
}
.message {
    background-color: #BCEE6A;
}
.message td {
    padding: 0 15px 10px;
}
.messagebox {
    background-color: #FEFDDE;
    border: 1px solid #B3B4B6;
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    height: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 320px;
}

.footer {
    background: #BCEE6A;
}
.footer td {
    padding: 0 15px 5px;
}

.bottom {
    background: url("images/bottom.png") no-repeat scroll left bottom #BCEE6A;
    height: 10px;
}

a.start {
    background: url("images/playButton.png") no-repeat scroll 0 100% transparent;
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding-left: 25px;
    text-decoration: none;
}
a.start:active {
    background: url("images/playButtonActive.png") no-repeat scroll 0 50% transparent;
}
a.start:hover {
    background: url("images/playButtonActive.png") no-repeat scroll 0 50% transparent;
}
a.start span {
    background: url("images/playButton.png") no-repeat scroll 100% 50% transparent;
    display: block;
    padding: 8px 15px 8px 10px;
}
a.start:active span {
    background: url("images/playButtonActive.png") no-repeat scroll 100% 50% transparent;
}
a.start:hover span {
    background: url("images/playButtonActive.png") no-repeat scroll 100% 50% transparent;
}

a.stop {
    background: url("images/cancelButton.png") no-repeat scroll 0 50% transparent;
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 25px;
    text-decoration: none;
}
a.stop:active {
    background: url("images/cancelButtonActive.png") no-repeat scroll 0 50% transparent;
}
a.stop:hover {
    background: url("images/cancelButtonActive.png") no-repeat scroll 0 50% transparent;
}
a.stop span {
    background: url("images/cancelButton.png") no-repeat scroll 100% 50% transparent;
    display: block;
    padding: 8px 15px 8px 10px;
}
a.stop:active span {
    background: url("images/cancelButtonActive.png") no-repeat scroll 100% 50% transparent;
}
a.stop:hover span {
    background: url("images/cancelButtonActive.png") no-repeat scroll 100% 50% transparent;
}
a.send
{
	background: transparent url("images/playButton.png") no-repeat scroll 0pt 50%;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	float: right;
	padding-left: 25px;
	text-decoration: none;
}

a.send:hover
{
	background: transparent url("images/playButtonActive.png") no-repeat scroll 0pt 50%;
}

a.send:active
{
	background: transparent url("images/playButtonActive.png") no-repeat scroll 0pt 50%;
}

a.send span
{
	background: transparent url("images/playButton.png") no-repeat scroll 100% 50%;
	display: block;
	padding: 8px 15px 8px 10px;
}

a.send:hover span
{
	background: transparent url("images/playButtonActive.png") no-repeat scroll 100% 50%;
}

a.send:active span
{
	background: transparent url("images/playButtonActive.png") no-repeat scroll 100% 50%;
}





















