* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #333333;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.content {
  position: relative;
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content object {
  height: 100%;
  width: 100%;
}

.content .background {
  position: absolute;
  right: 0;
  bottom: 0;
}

.content .message {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.content .message h1 {
  font-size: 1.5em;
  color: #c2c2c2;
  margin: 0;
  margin-bottom: 10px;
}

.content .message p {
  color: silver;
  margin: 0;
}

.content .message .animation {
  background-color: #00cffd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 137.5px;
  position: absolute;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 200px;
  right: 150px;
}

.content .message .animation img {
  height: 100%;
}

.content .message .animation::before {
  content: "";
  position: absolute;
  top: -71.42857px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 71.42857px solid #00cffd;
}

.content .message .animation::after {
  content: "";
  position: absolute;
  bottom: -71.42857px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-top: 71.42857px solid #00cffd;
}

.footer {
  border-top: 2px solid silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .column {
  border-right: 2px solid silver;
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .column:last-child {
  border-left: 2px solid silver;
  border-right: none;
}

.footer .column.when-ready {
  visibility: hidden;
  opacity: 0;
}

.footer .column.when-ready.active {
  visibility: visible;
  opacity: 1;
}

.footer .column.when-ready:nth-child(3) {
  border-right: unset;
}

.footer .column.grid-buttons {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  display: -ms-grid;
  display: grid;
  gap: 4px;
}

.footer .column.grid-buttons button.btn-1 {
  background-color: transparent;
  padding: 8px 2px 8px 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border: 0px;
}

.footer .column.grid-buttons button.btn-1 .icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  width: 28px;
}

.footer .column.grid-buttons button.btn-1 .icon img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: -4px;
  height: 100%;
}

.footer .column.grid-buttons button.btn-1 span {
  color: silver;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 100%;
}

.footer .column.grid-buttons button.btn-1:disabled {
  opacity: 0.5;
}

.footer .column.grid-buttons button.btn-1.active img {
  -webkit-filter: invert(48%) sepia(76%) saturate(4073%) hue-rotate(166deg) brightness(101%) contrast(103%);
          filter: invert(48%) sepia(76%) saturate(4073%) hue-rotate(166deg) brightness(101%) contrast(103%);
}

.footer .column .view {
  padding: 3px;
}

.footer .column .view ul {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.193)), to(transparent));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.193) 0%, transparent 100%);
  list-style: none;
  padding: 8px;
  margin: 0;
  min-height:115px;
}

.footer .column .view.highlight {
  margin: 0px;
  border: 3px solid #FFA524;
  border-radius: 5px;
  padding: 0px;
}

.footer .column .view.highlightRed {
  margin: 0px;
  border: 3px solid red;
  border-radius: 5px;
  padding: 0px;
}

.footer .column .view ul .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
  color: silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .column .view ul .row span {
  font-size: 14px;
  font-weight: 600;
}

.footer .column .view ul .row button.btn-2 {
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: unset;
  opacity: 0.5;
  height: 28px;
  padding: 2px;
  width: 28px;
}

.footer .column .view ul .row button.btn-2 img {
  width: 100%;
}

.footer .column .view ul .row button.btn-2:hover {
  opacity: 1;
}


.footer .column .view ul .row button.btn-2.active {
  opacity: 1;
}


.footer .column .view ul .row button.btn-2:last-child {
  margin-right: 0;
}

.footer .column .status {
  background-color: #00cffd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.footer .column .status img {
  height: 25px;
}

.footer .column .status ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.footer .column .status ul li strong,
.footer .column .status ul li span {
  margin-right: 16px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  z-index: 9998;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}

.backdrop.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: #2e2e2e;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  position: fixed;
  max-height: 80%;
  z-index: 9999;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  opacity: 0;
  left: 50%;
  top: 50%;
}

.modal.manulDialerCustom {
  height: 350px;
  width: 350px;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal .modal-header {
  background-color: #fff;
  padding: 8px 8px;
}

.modal .modal-header h4 {
  margin: 0;
}

.modal .modal-content {
  overflow: auto;
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal.width500 {
  width: 600px;
}

.modal .modal-footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-footer button {
  background-color: transparent;
  border: 0px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
  color: silver;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 4px;
}

.modal .modal-footer button:hover {
  background-color: #3d3d3d;
  color: #fff;
}

.dial input {
  width: 70%;
  font-size: x-large;
  margin: 3px 0px 3px 0px;
  border-radius: 5px;
}

.dial .buttons {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 12px;
  display: -ms-grid;
  display: grid;
  height: 74%;
  gap: 1px;
}

.dial .buttons .btn-3 {
  background-color: #676767;
  font-size: x-large;
  color: #dad7d7;
  cursor: pointer;
  border-radius: 7px;
  /* #efd7aa */
  border-color:#ece2d0;
}

.dial :not(.buttons) button {
  background-color: #676767;
  /* margin-left: 8px; */
  cursor: pointer;
  max-width: 45px;
  min-width: 45px;
  max-height: 45px;
  border-radius: 7px;
  border-color:#ece2d0;
  /* border-color: #efd7aa; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}



.modal .modal-content-item {
  background-color: rgb(81, 80, 80);
  overflow: auto;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
}


.modal .modal-teamcontent {
  overflow: auto;
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* 
.modal-content-item:hover{
  background-color: #00809F;
  color: #fff;
} */

.modal .modal-content-SearchModeitem {
  /* background-color: rgb(81, 80, 80); */
  overflow: auto;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


.modal .labelSearchMode
{
  color: #fff;
  list-style-type: none;
  /* padding: 10px,0px,0px,0px; */
  margin-left: 5px;
}

.modal .labelSearchModeUL
{
  color: #fff;
  padding: 0px;
  margin-left: 5px;
}


.modal .labelSearchModeUL li:hover
{
  background-color: #00809F;
  color: #fff;
}

.modal .labelSearchModeUL .active
{
  background-color: #00cffd;
  color: #fff;
}

.modal .labelDispositionUL
{
  color: #fff;
  position: relative;
  left: -5px;
  
  /* padding: 0px;
  margin-left: 5px; */
}

/* .modal .labelDispositionUL:hover
{
  background-color: #00809F;
  color: #fff;
} */

.modal .labelDispositionUL span.selected
{
  background-color: #00cffd;
  color: #fff;
}