body {
	
}

TABLE.tableTab {
	width:100%;
}

TABLE.tableTab TD.Buttons{
	height:130px;
	width:100%;
	background-color:red;
}

TABLE.tableTab TD.Pages{
	height:300px;
	width:100%;
	background-color:green;
}
